---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
  - repo: https://github.com/norwoodj/helm-docs.git
    rev: v1.14.2
    hooks:
      - id: helm-docs
